.button {

    padding: 6px;
    border-radius: 5px;
}

.select {
    padding:5px;
    border-radius: 5px;
    width: 100%;
}

.shell {
    display: flex;
    gap:10px;
    flex-direction: column;
}


@media only screen and (max-width: 900px) {
  
    .select {
        padding:3px;
        font-size: 0.8rem;
    }
  }