.shell {
  background-color: beige;
  display: grid;
  grid-template-areas:    
    "menu contents";        
  grid-template-columns: max-content 1fr;
  
  min-height: 98vh;    
  
  background-color: black;
  

}





.menu {
  grid-area: menu;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: black;
  
  
  
  /* background-image: linear-gradient( 132.6deg,  rgb(211, 211, 211) 23.3%, rgb(102, 102, 102) 84.7% ); */
}

.contents {
  grid-area: contents;
  background-color: rgb(206, 206, 206);
  
}


.logo {
  border-radius: 30px;
  width: 80px;
  height: 80px;
}


@media only screen and (max-width: 900px) {
  
  .shell {
    grid-template-columns: 1fr;
    grid-template-areas:    
    "menu"
    "contents"
    ;
  }
}