.section {
    width: 100%;
    padding: 30px;
    display: flex;   
    flex-direction: column; 
    gap: 10px;      
}

.section span {
    font-weight: bold;
}




.sectionwr {    
    display: flex;    
}

.form {
    display: grid;        
    grid-template-columns: 3fr 3fr 4fr;
    /* gap:20px; */
    height: 100%;
    /* background-color: blueviolet; */
}







.mainresult {
    background-image: linear-gradient( 0deg, rgb(185 185 185) 23.3%, rgb(255 255 255) 84.7% );
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 4px black solid;
}

.resulttable {
    background-image: linear-gradient( 132.6deg,  rgb(211, 211, 211) 23.3%, rgb(102, 102, 102) 84.7% );
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap:26px;
    height: 100%;    
}

.resultwr {
    display: flex;
    flex-direction: column;
    background-color: #dbdbdb;
    padding: 20px;
}

.inputsections {
    display: flex;   
    flex-direction: column;     
    background-image: linear-gradient(158deg,#8ee5ff 13.3%,#005c9d 94.7%)
}

.inputsections2 {
    display: flex;   
    flex-direction: column;     
    background-color: #ffd19b;
}

.block {
    background-image: linear-gradient( 132.6deg,  rgb(211, 211, 211) 23.3%, rgb(243, 243, 243) 84.7% );
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
}



.block h3 {    
    margin-bottom: 10px;
}

.block h2 {    
    font-size: 1.4rem;
    transition: all 6s;
}






.announcementswr{
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:30px;
}


.announcements{    
    display: flex;
    flex-direction: column;
    gap:40px
    
}

.announcement{

    display: flex;
    gap:10px;
    flex-direction: column;

}

.agtitle{

    font-size: 1.4rem;
    font-weight: bold;
}

.atitle{
    
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    
}

.acontent{
   padding: 20px; 
   background-color: #dbdbdb;
}





.teklifwr{    
    display: flex;
    flex-direction: column;
    border:1px solid black;    
    gap:30px;
    margin:10px;
    width: 80%;
    padding: 40px;    
}


.teklifmainwr{    
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

}


.teklifgrid{    
    display: grid;
    font-size: 1.3rem;  
    font-weight: bold;
    grid-template-areas: 
            "yapisahibi yapisahibi "
            "ilce mahalle "
            "ada parsel"            
            "toplaminsaatalani toplaminsaatalani"            
            "yapisinifi projetekrari"
            "tasiyicisistem tasiyicisistem"
            "projeucreti toplamucret"            
            ;
    gap:20px;

    
}

.teklifgrid div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 16px;
    border-radius:10px;
    border:1px solid black;
}

.teklifgrid span {
    text-decoration: underline;
    font-size: 1rem;
    color: rgb(44, 44, 44);
}


.yapisahibi {
    grid-area: yapisahibi;
}


.ilce {
    grid-area: ilce;
}

.mahalle {
    grid-area: mahalle;
}

.ada {
    grid-area: ada;
}

.parsel {
    grid-area: parsel;
}

.toplaminsaatalani {
    grid-area: toplaminsaatalani;
}


.projetekrari {
    grid-area: projetekrari;
}

.yapisinifi {
    grid-area: yapisinifi;
}


.tasiyicisistem {
    grid-area: tasiyicisistem;
}


.projeucreti {
    grid-area: projeucreti;
    font-size: 1.1rem;
    font-weight: bold;
    color: #005c9d;
}


.toplamucret {
    grid-area: toplamucret;
    font-size: 1.2rem;
    font-weight: bold;
    color: #005c9d;
}



.tekliftitle{

    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid black;
    color: black;
    background-color: #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 10px;    
}


.prinbutton {
    display: flex;
    background-color: #005c9d;
    color: white;
}



@media only screen and (max-width: 1200px) {
    .form {
        display: grid;        
        grid-template-columns: 1fr;
        /* gap:20px; */
        height: 100%;
        /* background-color: blueviolet; */
    }

    .section {
                padding: 20px;
                gap: 10px;      
            }
    
    
     .teklifwr{
        display: flex;
        flex-direction: column;
        border:1px solid black;    
        gap:30px;
        margin:10px;
        width: 100%;
        padding: 20px;   
     }       

  }